{% extends "layout_stripe_15.twig" %}

{% block stripe %}
<span style='display:block;
			color: #CBAA3F;
			font-style: italic;
			font-size: 2.8rem;
		    font-weight: 400;
		    font-family: Merriweather, serif;
			padding-left: 10%;'>
	Is Your Home<br>
	In The Right Hands?
	<br>
	{# <small class="first-letter">Microsoft product screen shot(s) reprinted with permission from Microsoft Corporation.</smalll> #}

	<span style="display:block;
				font-size:4px;
				margin-top: 5%;
				font-style: normal;
				color:#000;"> </span>
	</span>


{% endblock %}
