{% extends "layout_stripe_13.twig" %}

{% block stripe %}
<span style='display:block; letter-spacing: .05rem; font-style: italic;'>
	Are Rising Rates<br>
	Threatening Your<br>
	Home Coverage?<br>
	{# <small class="first-letter">Microsoft product screen shot(s) reprinted with permission from Microsoft Corporation.</smalll> #}

	<span style="display:block;font-size:3px; margin-top: 1.5%; letter-spacing:0;"> </span>
	</span>


{% endblock %}
