// calculate height based on the width passed
// lh = letter height
lh($num) {
	$ratio = 1.29;
	return ($num * $ratio);
}

// ph = postcard height
ph($num) {
	$ratio = 0.66;
	return ($num * $ratio);
}