<div class="grid split_detail">
	<div class="col-8">{% include 'body_text.twig' %}</div>
	<div class="col image">
		<img src="/mailings/postcards/images/homeView.gif" style="width: 100%; margin-top: 0%;" />
		<span class="letter-14-notice"> </span>
	</div>
</div>
